engine/examples/node-red/config/savedflows.json
[{"id":"688fff91.e60e5","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b13d876a.c089d8","type":"http in","z":"688fff91.e60e5","name":"","url":"/process","method":"post","upload":true,"swaggerDoc":"","x":120,"y":160,"wires":[["e0866677.7b77c8"]]},{"id":"cae9f295.3b04d","type":"debug","z":"688fff91.e60e5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":430,"y":340,"wires":[]},{"id":"838a0967.9e88e8","type":"http response","z":"688fff91.e60e5","name":"","statusCode":"200","headers":{},"x":440,"y":260,"wires":[]},{"id":"e0866677.7b77c8","type":"function","z":"688fff91.e60e5","name":"get upload string","func":"msg.payload = msg.req.files[0].buffer.toString();\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":160,"wires":[["4a9d82e9.54f18c"]]},{"id":"4a9d82e9.54f18c","type":"function","z":"688fff91.e60e5","name":"extract keyword","func":"\nfunction getOutput (buffer) {\n    \n    // Pass the chunk buffer in, get word-array out:\n    let getWordArray = (buffer) => {\n        \n        let text = buffer.replace(/[^0-9a-zA-Z-']+/g, \" \");\n        let words = text.split(/\\s+/);\n        let results = [];\n        let undupe = {};\n        \n        words.forEach(word => {\n            if (word.length && word.indexOf(\"-\") === 0)\n                return;\n            let wordLowerCased = word.toLowerCase();\n            if (!(wordLowerCased in undupe) && word.length)\n                undupe[wordLowerCased] = word;\n        });\n        \n        for (var k in undupe)\n            results.push(undupe[k]);\n        return results;\n    };\n\n    // Pass word array in, get [ keywordObject ] out\n    let getVtnObjectArray = (input) => {\n\n        function KeywordObject(labelValue) {\n            this.type = \"keyword\";\n            this.label = labelValue;\n        }\n\n        let output = [];\n        input.forEach(word => {\n            output.push(new KeywordObject(word));\n        });\n\n        return output;\n    };\n\n    try {\n        let words = getWordArray(buffer);\n        let vtnObjectArray = getVtnObjectArray(words);\n        let output = {\n            \"validationContracts\": [\n                \"keyword\"\n            ],\n            \"object\": vtnObjectArray\n        };\n\n        return output;\n    } catch (e) {\n        console.log(\"Exception: \" + e.toString())\n    }\n}\nmsg.payload = getOutput(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":320,"wires":[["cae9f295.3b04d","838a0967.9e88e8"]]}]